<!DOCTYPE html>
<html>
<head>
  <title>Ultra Pong</title>
  <meta charset="UTF-8">
  <canvas id="Ultra Pong" width="1540" height="735"></canvas>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="/classes.js" defer></script>
  <script src="/online inputs.js" defer></script>
  <script src="/online.js" defer></script>
</head>
<body>
</body>
</html>