<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ultra Pong</title>
    </head>
    <body>
        <form name="form" method="post">
            <input name="submit" type="submit" value="Local">
            <input name="submit" type="submit" value="Online">
        </form>
    </body>
</html>