<!DOCTYPE html>
<html>
<head>
  <title>Ultra Pong</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/style.css" > 
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
      href="https://fonts.googleapis.com/css2?family=Itim&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <a href="local" class="neon">Local</a>
    <a href="online" class="neon1">Online </a>
</body>
</html>