<!DOCTYPE html>
<html>
<head>
  <title>Ultra Pong</title>
  <meta charset="UTF-8">
  <canvas id="Ultra Pong" width="1540" height="735"></canvas>
  <script src="/local/classes.js" defer></script>
  <script src="/local/inputs.js" defer></script>
  <script src="/local/main.js" defer></script>
</head>
<body>
</body>
</html>