<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rooms</title>
    </head>
    <body>
        <form name="form" method="post">
            <input name="room" type="text">
            <input name="submit" type="submit" value="Create Room">
            <input NAME="submit" type="submit" value="Join Room">
        </form>
    </body>
</html>